<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/12a342299d.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
  <section class="max-width">
    <section class="logo">
      <a href="/"><img src="imagens/logoflor.png" alt="Floria"></a>
    </section>

    <ul class="menu">
      <li><a href="/maisvendidos">Mais Vendidos</a></li>
      <li><a href="/Plantas">Plantas</a></li>
      <li><a href="/Vasos">Vasos</a></li>
      <li><a href="/sobre-nos">Sobre Nós</a></li>
    </ul>

    <section class="serch-icon">
      <input type="search" placeholder="Buscar plantas e vasos...">
      <label class="icon" aria-label="Buscar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
    </section>

    <section class="icones">
      <a href="/login2" aria-label="Minha conta"><i class="fa-regular fa-user"></i></a>
      <a href="/carrinho" aria-label="Carrinho de compras"><i class="fa-solid fa-cart-shopping"></i></a>
    </section>
  </section>
</nav>

