<nav class="nav-mobile" aria-label="Navegação mobile">
  <ul>
    <li><a href="/Plantas">Plantas</a></li>
    <li><a href="/Vasos">Vasos</a></li>
    <li><a href="/maisvendidos">Mais Vendidos</a></li>
    <li><a href="/sobre-nos">Sobre Nós</a></li>
  </ul>
</nav>
